<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <php>
        <ini name="error_reporting" value="E_ALL"/>
    </php>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php" phpVersionOperator="&gt;=">tests/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <report>
            <cobertura outputFile="tests/_output/cobertura.xml"/>
            <html outputDirectory="tests/_output/coverage" lowUpperBound="50" highLowerBound="90"/>
            <text outputFile="tests/_output/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="tests/_output/report.junit.xml"/>
    </logging>
</phpunit>
